name: "Trigger genshin-dictionary deployment"

on:
  check_run:
    types:
      - completed

permissions: {}

jobs:
  trigger:
    if: ${{ github.event.check_run.name == 'Cloudflare Pages' && github.event.check_run.conclusion == 'success' && github.event.check_run.head_sha == github.sha }}
    timeout-minutes: 2
    runs-on: ubuntu-latest
    env:
      CFPAGES_DEPLOYMENT_WEBHOOK: ${{ secrets.CFPAGES_DEPLOYMENT_WEBHOOK }}

    steps:
      - name: Trigger genshin-dictionary deployment
        run: |
          curl -X POST "${CFPAGES_DEPLOYMENT_WEBHOOK}"
